<p>
    <a href='/logout'>Logout</a>
</p>

<p>
    ID: <%= user.user_id %><br/>
    Name: <%= user.first_name + ' ' + user.last_name %><br/>
    Email: <%= user.email_id %><br/>
    
</p>

<p>
    <% for (var i = 0; i < allUsers.length; i++) {%>
        Name: <%= allUsers[i].name %>; Email: <%= allUsers[i].email_id %> <br/>
    <%} %>
</p>


<P>
    Whitelist another user by clicking <a href='/whitelist'>here</a><br/>
</P>
